#result-list-id {
	height: 400px;
	width:  400px;
}

.ReactTags__remove {
	border: none;
    background: blue;
    color: white;
    cursor: pointer;
}

.tag-wrapper {
	background: blue;
    color: white;
    padding: 0.2em;
    font-family: system-ui;
}

.ReactTags__tagInputField {
	padding: 0.6em;
    border: none;
    width: 14.5em;
    outline: none;
}